body{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.heading_style{
  padding:30px 0;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color:red;
  background-color: aqua;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.cards{
  width:100%;
  height:auto;
}
.card{
  margin:6%;
  transition: all 0.4s cubic-bezier(0.175,0.885,0,1);
  background-color: antiquewhite;
  width:21%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px black;
  float: left;
}
.card:hover{
  transform: scale(1.05,1.05);
}
.card__img{
  width:100%;
  height:200px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card__info{
  background-color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding:16px 24px 24px 24px;
  background-color: white;
}
button{
  min-height: 40px;
  width:40px;
  border-color: transparent;
  color:red;
  font-size: 30px;
  margin-top: 30px;
  padding:0 15px;
  border:none;
  outline:none;
  border-radius: 5%;
  }
  button:hover{
    background-color: green;
  }
  ol{

    margin-top: 30px;
  }
  ol li{
    padding-left: 0;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    min-height: 40px;
    display: flex;
    align-items: center;
    color:blue;
    text-transform: capitalize;
  }
 
.card__category{
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color:grey;
  background-color: antiquewhite;
}
.card_title{
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: white;
  text-transform: capitalize;
}
@media (max-width:768px){
  .card{
    float:none;
    margin:5%;
    width:90%;
  }
}
h1{
  color:white;
  background: transparent;
  /*text-shadow: 0 2px 2px black;*/
  background-color: #8e44ad;
  padding: 6px 0 12px 0;
  margin-bottom: 10px;
  width:100%;
  box-shadow: 5px 5px 15px -5 px black;
  
}
input{
  width:60%;
  height: 30px;
  border:none;
  outline:none;
  background: transparent;
  font-size: 20px;
  border-bottom: 2px solid #8e44ad;
  font-weight: 500;
}
.main_div{
  width:100%;
  height: 100vh;
  background: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.center_div{
  width:39%;
  height:60vh;
  background-color: aliceblue;
  box-shadow: 5px 5px 25px -5px black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todo_style{
  display:flex;
  flex-direction: row;
  justify-content: left;
  align-items: center ;
}
.todo_style .fa-times{
  margin:0 15px 0 15px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.todo_style .fa-items:hover{
  background-color: red;

}
button:hover{
  background-color: green;
}
.btn_div{
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}